/* Home */

div{ position: relative;
width: 428px;
height: 926px;

/* cold whoite */
background: #EDFFFB;
}

/* Mes Todos */
p{
position: absolute;
width: 428px;
height: 90px;
left: 0px;
top: 0px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
text-align: center;

/* soft black */
color: #4F4F4F;
}


/* ListThumb */
p{
position: absolute;
width: 428px;
height: 137px;
left: 0px;
top: 90px;

/* Black Deep Blue */
background: #264F4A;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Title */
p{
position: absolute;
left: 10px;
right: 11px;
top: 62.04%;
bottom: 23.55%;
}


/* Petites courses */
p{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: -0.27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

/* cold whoite */
color: #EDFFFB;
}


/* UserBox */
div{
position: absolute;
width: 140px;
height: 56px;
left: 144px;
top: 0px;

background: rgba(240, 240, 240, 0.67);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 0px 0px 10px 10px;
}

/* Frame 4 */
i{
position: absolute;
width: 59px;
left: 0px;
top: 0px;
bottom: 0px;
}


/*  */
i{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

/* Black Deep Blue */
color: #264F4A;
}


/* Par */
.p{
position: absolute;
width: 116px;
left: 59px;
top: 14.29%;
bottom: 50%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

/* Red Error */
color: #BB8579;
}


/* Rose */
p{
position: absolute;
width: 116px;
left: 59px;
top: 50%;
bottom: 14.29%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

/* Green Ocean */
color: #075252;
}


/* ListThumb */

position: absolute;
width: 428px;
height: 137px;
left: 0px;
top: 250px;

/* Black Deep Blue */
background: #264F4A;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


/* Title */

position: absolute;
left: 10px;
right: 11px;
top: 62.04%;
bottom: 23.55%;



/* À faire demain */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: -0.27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

/* cold whoite */
color: #EDFFFB;



/* UserBox */

position: absolute;
width: 140px;
height: 56px;
left: 144px;
top: 0px;

background: rgba(240, 240, 240, 0.67);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 0px 0px 10px 10px;


/* Frame 4 */

position: absolute;
width: 59px;
left: 0px;
top: 0px;
bottom: 0px;



/*  */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

/* Black Deep Blue */
color: #264F4A;



/* Par */

position: absolute;
width: 116px;
left: 59px;
top: 14.29%;
bottom: 50%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

/* Red Error */
color: #BB8579;



/* Rose */

position: absolute;
width: 116px;
left: 59px;
top: 50%;
bottom: 14.29%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

/* Green Ocean */
color: #075252;



/* ListThumb */

position: absolute;
width: 428px;
height: 137px;
left: 0px;
top: 410px;

/* Black Deep Blue */
background: #264F4A;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


/* Title */

position: absolute;
left: 10px;
right: 11px;
top: 62.04%;
bottom: 23.55%;



/* Ménage */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: -0.27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

/* cold whoite */
color: #EDFFFB;



/* UserBox */

position: absolute;
width: 140px;
height: 56px;
left: 144px;
top: 0px;

background: rgba(240, 240, 240, 0.67);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 0px 0px 10px 10px;


/* Frame 4 */

position: absolute;
width: 59px;
left: 0px;
top: 0px;
bottom: 0px;



/*  */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

/* Black Deep Blue */
color: #264F4A;



/* Par */

position: absolute;
width: 116px;
left: 59px;
top: 14.29%;
bottom: 50%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

/* Red Error */
color: #BB8579;



/* Rose */

position: absolute;
width: 116px;
left: 59px;
top: 50%;
bottom: 14.29%;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

/* Green Ocean */
color: #075252;



/* Bottom Nav */

position: absolute;
width: 428px;
height: 108px;
left: 0px;
top: 818px;

/* Green Ocean */
background: #075252;


/* Button */

position: absolute;
width: 117px;
height: 85px;
left: 0px;
top: 13px;



/*  */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 46px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Button */

position: absolute;
width: 117px;
height: 85px;
left: 311px;
top: 13px;



/*  */
.p{
position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 46px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}


/* Button Valid */
.p{
position: absolute;
width: 255px;
height: 79px;
left: 86px;
top: 570px;

/* Valid Green */
background: #557859;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

/* Nouvelle liste */
.p{
position: absolute;
width: 282px;
left: 78px;
top: 0px;
bottom: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;

/* cold whoite */
color: #EDFFFB;
}


/*  */
i{
position: absolute;
width: 78px;
left: 0px;
top: 0px;
bottom: 0px;

font-family: 'Font Awesome 5 Free';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 37px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}